In [24]:
# Python Data Analysis Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [25]:
# Overview of Dataset
covid_df = pd.read_csv("covid_data.csv")
covid_df.head()

,Unnamed: 0,date,new_cases,new_deaths,population,aged_65_older_percent,gdp_per_capita,hospital_beds_per_thousand
0,Afghanistan,2019-12-31,0,0,38928341.0,2.581,1803.987,0.5
1,Afghanistan,2020-01-01,0,0,38928341.0,2.581,1803.987,0.5
2,Afghanistan,2020-01-02,0,0,38928341.0,2.581,1803.987,0.5
3,Afghanistan,2020-01-03,0,0,38928341.0,2.581,1803.987,0.5
4,Afghanistan,2020-01-04,0,0,38928341.0,2.581,1803.987,0.5

In [ ]:
# Display number of rows and columns of data
covid_df.shape

In [ ]:
# Display summary info pf data
covid_df.info()

In [ ]:
# Display statistical summary of data
covid_df.describe()

In [ ]:
# Display 2D numpy array of values of data
covid_df.values

In [ ]:
# Display the column index of data
covid_df.columns

In [ ]:
# Display the row index of data
covid_df.index

By combining .sort_values() with .head(), you can answer questions in the form, "What are the top cases whereâ€¦?".

In [ ]:
# Sort data by a column in ascending order
new_covid_cases = covid_df.sort_values("new_cases", ascending=True)
new_covid_cases.head()

In [ ]:
# Sort data by two columns, then different orders
covid_new_pop = covid_df.sort_values(["new_cases", "population"], ascending=[True, False])
covid_new_pop.head()

In [ ]:
# Select two columns
country_pop = covid_df[["state", "population"]]
print(country_pop.head())

In [ ]:
# Filter for rows where population is greater than 50000000
pop_gt_50m = covid_df[covid_df["population"] > 50000000]
pop_gt_50m.head()

In [ ]:
# Filter for rows where country is specified
country_gha = covid_df[covid_df["country"] == "Ghana"]

In [ ]:
# Filter for rows where new cases is less than 1000 
# and country specified
pop_lt_1k_ecu = covid_df[(covid_df["new_cases"] < 1000) & (covid_df["country"] == "Ecuador")]
print(pop_lt_1k_ecu)

In [ ]:
# Subset for rows in Ecuador or UK
ecu_uk = covid_df[covid_df["country"].isin(["Ecuador", "United Kingdom"])]
print(ecu_uk)

In [ ]:
# Creating anew column form existing columns
covid_df["total"] = covid_df["new_cases"] + covid_df["new_death"]

# Add a new column as proportion of new_death that are population
covid_df["p_new_death"] = covid_df["new_death"] / covid_df["population"]

# See the result
print(covid_df)

The next code answers the question, "Which state has the highest number of homeless individuals per 10,000 people in the state?"

In [ ]:
# Create indiv_per_10k col as homeless individuals per 10k state pop
homelessness["indiv_per_10k"] = 10000 * homelessness["individuals"] / homelessness["state_pop"] 

# Subset rows for indiv_per_10k greater than 20
high_homelessness = homelessness[homelessness["indiv_per_10k"] > 20]

# Sort high_homelessness by descending indiv_per_10k
high_homelessness_srt = high_homelessness.sort_values("indiv_per_10k", ascending=False)

# From high_homelessness_srt, select the state and indiv_per_10k cols
result = high_homelessness_srt[["state", "indiv_per_10k"]]

# See the result
print(result)